.env
node_modules/
dbdata/
.vscode/
docker/php/
docker-compose.yaml
cgi-bin/
*.log
.DS_Store
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.zed
/auth.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db
bootstrap/cache/*.php
